{
    "env": {
    "node": true,
    "es6": true,
    "jquery": true,
    "browser": true
  },
  "parser": "babel-eslint",
  "rules": {
    "global-require": 0,
    "object-curly-spacing": 0,  
    "valid-jsdoc": 2,
    "max-len": [1, 150, 2],
    "no-console": 1,
    "no-var": 0,
    "no-undef": 2,
    "import/no-unresolved": [2, { "ignore": ["loader|react-router|css|style|sass"] }],
    "import/extensions": 0,
    "no-param-reassign": [1, { "props": false }],
    "quotes": [2, "single"],
    "semi": 2,
    "arrow-body-style": [1, "as-needed"],
    "comma-dangle": [2, "never"],
    "react/prefer-stateless-function":"off",
    "react/prop-types": 0,
    "react/jsx-uses-react": 1,
    "react/wrap-multilines": 2,
    "no-underscore-dangle": [2, { "allow": ["__INITIAL_STATE__"] }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  },
  "extends": "airbnb",
  "plugins": [
    "react"
  ]
}